nav#navbar
    ul
        div#logo
            img(src="/static/img/logo.png")
            | RDA
        li #[a(href="/") Home]
        li #[a(href="/") About]
        li #[a(href="/") Services]
        li #[a(href="/") Class Info]
        li #[a(href="/contact") Contact Us]
